*{
    margin:0;
    padding:0;

}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background: url(../img/23.jpg) no-repeat ;
    /*background-position: 0px -600px;*/
    background-size: 110%;
}
.scene{
    width:600px;
    height:480px;
    /*background-size:600px;*/
    position: absolute;
    top:150px;
    left:50%;
    margin-left: -300px;
}

.block {
    float: left;
    width:30px;
    height:30px;
    background: url(../img/xin.png) center center;
    background-size: 42px;
    position: relative;
    /*transform(0,0,0)*/
    /*transition: transform .8s ease;*/
}
.snake{
    width:30px;
    height:30px;
    background-image: url(../img/qin.png);
    background-size: 30px;
}
.food{
    width:30px;
    height:30px;
    background-image: url(../img/shi.png);
    background-size: 30px;
}
.end{
    width: 500px;
    height: 280px;
    background: url(../img/15.jpg) center center;
    background-size: 500px;
    font-size: 30px;
    color:#fff;
    line-height: 280px;
    text-align: left;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.restart{
    width: 150px;
    height: 150px;
    position: absolute;
    font-size: 20px;
    line-height: 150px;
    color: #fff;
    text-align: center;
    top:50px;
    left: 50px;
    background: url(../img/1.png) center center;
    background-size: 165px;
    cursor: pointer;
}
.pause{
    width: 150px;
    height: 150px;
    position: absolute;
    font-size: 20px;
    line-height: 150px;
    color: #fff;
    text-align: center;
    top:200px;
    left: 50px;
    background: url(../img/1.png) center center;
    background-size: 165px;
    cursor: pointer;
}









